@font-face {
    font-family: 'Black';
    src: url('../public/static/IBMPlexArabic-Bold.ttf');
}
@font-face {
    font-family: 'Bold';
    src: url('../public/static/IBMPlexArabic-SemiBold.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('../public/static/IBMPlexArabic-Medium.ttf');
}
@font-face {
    font-family: 'Regular';
    src: url('../public/static/IBMPlexArabic-Regular.ttf');
}
@font-face {
    font-family: 'Thin';
    src: url('../public/static/IBMPlexArabic-Thin.ttf');
}

$colorBlack0: #2A3040;
$colorBlack1: #2A304066;
$colorLight1: #D9D9D980;
$colorLight2: #A09D9D;
$colorWithe1: #FEFEFE;
$colorWithe2: #FFFFFF80;
$colorTosi1: #DDE0EB;
$colorTosi2: #48546C;
$colorBlus1: #81A5C7;
$colorBlue2:#D6DBE8;
$colorYellow: #FFC132;
$colorYellow2:#FFD864;
$colorBlackDeep: #222220;

$sizeHeightHeader:120px;

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-family: 'Regular';
}

html ,body ,#__next{
    height: 100%;
}

header{
    display: flex;
    flex-direction: row;
    background: $colorBlackDeep;
    justify-content: space-around;
    align-items: center;
    height: $sizeHeightHeader;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    .conteinerNav{
        display: flex;
        flex-direction: column;
        height: 100%;
        .infs{
            display: flex;
            flex-direction: row;
            flex:2;        
            align-items: center;    
            p{
                color: $colorLight2;
                margin: 0px 40px;
            }
        }
        .btns{
            display: flex;
            flex-direction: row;
            flex:5;
        }
    }
    img{
        width: 250px;
    }
    .higmenu{display: none;}

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        .cls-mn{
            display: none;
        }

        button,a{
            height: 100%;
            width: 135px;
            color: $colorWithe1;
            text-decoration: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: transparent;
            border: 0px;
            &:hover{
                background: $colorYellow;
                color: $colorBlackDeep;

            }
        }
    }

}


main{
    padding-top: $sizeHeightHeader;
}

.PgImgGrdnt{
    height: 100%;
    position: relative;
    padding: calc($sizeHeightHeader * 2) 0px;
    >section{
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(94, 103, 131, 0.7) 8.68%, rgba(255, 255, 255, 0.27) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        .contentTwoCulomn{
            display: flex;
            flex-direction: row;
            width: 70%;
            z-index: 3;
            border-radius: 15px;
            overflow: hidden;
            .contentConteiner{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: $colorWithe2;
                margin-left: 20px;
                >div{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;
                    p{
                        margin-left: 100px;
                        direction: rtl;
                        text-align: justify;
                    }
                    img{
                        margin: 10px 20px;
                    }
                }
            }

        }
        .exportContent{
            z-index: 3;
            width: 70%;
            margin-top: 50px;
            p{
                color: $colorWithe1;
                text-align: center;
                direction: ltr;
                width: 100%;
                font-size: 16pt;
                text-align: center;
                word-spacing: 6px;
            }
            :nth-child(2){
                color: $colorWithe1;
                font-size: 14pt;
            }
            img{
                background: $colorWithe2;
                width: 100%;
            }
        }
    }
    >img{
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
}

.hd{
    position: relative;
    height: 280px;
    overflow: hidden;
    >img{
        width: 100%;
        
        
    }
    .conteiner{
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: calc((100% - 65px)/2);
        left: 200px;
        img{
            width: 65px;
            height: auto; 
        }

        p{
            color: $colorWithe1;
            font-size: 35pt;
            margin-left: 25px;
            direction: ltr;
            &:nth-child(1){
                color: $colorYellow;
            }
        }
        .bl1{
            color: #00000099 !important;
            font-weight: 800;
        }
        .bl2{
            color: #00000099 !important;
        }
        .bl3{
            font-weight: 800;
            color: #FFFFFF !important;
        }
        .bl4{
            color: #FFFFFF !important;
        }
        .bl5{
            color: $colorTosi2 !important;
            font-weight: 800;
        }
        .bl6{
            color: $colorTosi1 !important;
        }
    }
}

.Product{
    background: $colorTosi1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hd{
        .conteiner{
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            top: calc((100% - 65px)/2);
            left: 200px;    
            p{
                color: $colorWithe1;
                font-size: 35pt;
                margin-left: 25px;
                direction: ltr;
            }
        }
    }
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1100px;
        margin: 25px;
        .Card{
            width: 450px;
            height: 250px;
            border-radius: 10px;
            border: 1px #fff solid;
            background: #FFFFFF40;
            display: flex;
            flex-direction: row-reverse;
            margin: 25px;
            padding: 20px;
            .ImgCntnr{
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            .cntxt{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h3{
                    font-size: 13pt;
                }
                p{
                    font-size: 11pt;
                    line-height: 1.5;
                    text-align: justify;
                    margin-left: 20px;
                }
                a{
                    background: $colorBlus1;
                    color: $colorWithe1;
                    border-radius: 4px;
                    width: 150px;
                    text-align: center;
                    height: 28px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    
                }
            }





        }


    }
}


.contact_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    .hd{
        position: relative;
        height: 380px;
        .map{
            width: 100%;
            margin: 100px 0px;
        }
        .conteiner{
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            top: calc((100% - 65px)/2);
            left: 200px;
            p{
                color: $colorWithe1;
                font-size: 35pt;
                margin-left: 25px;
                direction: ltr;
                &:nth-child(1){
                    color: $colorYellow;
                }
            }
        }
    }
    section{
        display: flex;
        flex-direction: column;
        width: 1100px;
        margin: 25px;
        .formCntinr{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 50px;
            justify-content: space-between;
            .imgCntinr{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                img{
                    width: 50%;
                }
                p{
                    text-align: justify;
                    line-height: 1.2;
                    width: 80%;
                }
            }
            form{
                width: 65%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                border-radius: 6px;
                border: 1px solid rgba(#000000,0.3);
                background: $colorBlue2;
                input{
                    width: 220px;
                    height: 50px;
                    border-radius: 5px;
                    border: 1px rgba(#000000B2,0.3) solid;
                }
                textarea{
                    width: 100%;
                    height: 158px;
                    border-radius: 5px;
                    border: 1px rgba(#000000B2,0.3) solid;

                }
                input,textarea{
                    margin: 10px 0px;
                }
                button{
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    background: #22C8BEB2;
                    border: 0px;
                    color: $colorWithe1;
                }
            }
        }
        >img{
            margin: 100px 0px 0px 0px;
            border: 1px rgba(#000000,0.3) solid;
            border-radius: 10px;
            z-index: 2;
        }
    }
    footer{
        height: 300px;
        width: 100%;
        background: $colorBlackDeep;
        margin-top: -130px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 50px;
    
    
        .infCrd{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 150px;
            border-right: 1px #EFF1F6 solid;
            margin: 0px 25px;
            padding: 0px 25px;
            cursor: pointer;

            &:last-child{
                border: 0px;
            }
    
            .imgCnt{
                width: 60px;
                height: 60px;
                background: #FFFFFF6E;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px;
                img{
                    width: 45%;
                }
            }
    
            .txtcnt{

            }
    
        }
    }    
}

.phoneConteiner{
    display: flex;
    flex-direction: row-reverse;
    :nth-child(1){
        &::before{
            content: '-';
            margin: 0px 5px;
        }
    }
    p{
        color: #FFFFFF;
        direction: rtl;
        margin: 0px 5px;
    }
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    .hd{
        .conteiner{
            p{
                background: #FFD364B2 !important;
                color: #000000 !important;
                padding: 0px 55px;
                font-size: 30pt;
                
            }
        }
    }
    section{
        width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        z-index: 2;
        margin-bottom: 100px;
        .iconic{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-top: 100px;
            >img{
                width: 100px;
            }
            p{
                color: $colorYellow;
                font-size: 18pt;
            }
        }

        .cntxt{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            >img{
                width: 22%;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
            .prg{
                display: flex;
                flex-direction: column;
                margin: 20px 30px;
                p{
                    line-height: 1.2;
                    text-align: justify;
                    margin-bottom: 25px;
                }
            }
            .imgcntr{
                display: flex;
                flex-direction: column;
                width: 22%;

            }
        }
        .panevisa{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-content: flex-start;
            p{
                font-size: 16pt;
                color: $colorBlackDeep;
                margin: 10px;
            }
            :nth-child(1){
                color: $colorYellow;
            }
        }


    }
}


.video{
    width: 100%;
    video{
        width: 100%;
    }
    img{
        position: absolute;
        width: 30%;
        top: 48%;
        left: 35%;
        z-index: 2;
    }
}

.minicms{
    background: $colorTosi2;
    .hd{
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .conteiner{
            width: 100%;
            position: static;
            p{
                width: 100%;
                text-align: center;
                font-size: 16pt;
            }
        }
    }
    .continertContentCms{
        height: 400px;
        background: rgba(#fff,0.25);
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .contentSide{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .imgCnt{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            h4{
                white-space: pre-wrap;
                text-align: center;
            }
        }
        .contentWide{
            cursor: pointer;
            .imgCnt{
                img{
                    opacity: 0.6;
                }
            }
            h4{
                color: rgba(#fff,0.75);
            }
        }
        .contentCenter{
            position: relative;
            >h4{
                color: #fff;
            }
            >p{
                text-align: justify;
                font-size: 12pt;
                width: 350px;
                color: #fff;
                margin-top: 15px;
            }
            span{
                color: #fff;
                font-size: 40pt;
                position: absolute;
                cursor: pointer;
            }
            .arrLeft{
                left: 0px;
            }
            .arrRight{
                right: 0px;
            }
        }
    }


}

.ProductsPg{
    display: flex;
    flex-direction: column;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        .Cd-prd{
            display: flex;
            flex-direction: row-reverse;
            width: 60%;
            padding: 30px;
            margin: 20px;
            align-items: center;
            justify-content: space-between;
            &:nth-child(2n-1){
                background: #EFF1F680;
            }
            &:nth-child(1){.img-cntinr{p{color: #C3980D;}}}
            &:nth-child(2){.img-cntinr{p{color: #E75B0C;}}}
            &:nth-child(3){.img-cntinr{p{color: #DF180E;}}}
            &:nth-child(4){.img-cntinr{p{color: #1DB949;}}}
            &:nth-child(5){.img-cntinr{p{color: #15BAC5;}}}
            .img-cntinr{
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 38%;
                img{
                    width: 85%;
                }
                p{
                    position: absolute;
                    font-size: 20pt;
                    right: -10px;
                    &:nth-of-type(1){
                        top: 10px;
                    }
                    &:nth-of-type(2){
                        top: 40px;
                    }
                }
            }
            .tb-cntinr{
                width: 30%;
                display: flex;
                flex-direction: column;
                h5{
                    font-size: 16pt;
                    color: $colorBlackDeep;
                    text-align: center;
                    margin: 10px 0px;
                }
                h6{
                    color: #6B757D;
                    text-align: center;
                    font-size: 12pt;
                    margin-bottom: 20px;
                }
                table{
                    direction: ltr;                    
                    td{
                        margin: -1px 1px;
                        border: 1px #D3DADE solid;
                        text-align: center;
                        padding: 0px 3px;
                        font-size: 11pt;
                    }
                    tbody{
                        td{
                            background: #D9E0E4;
                        }
                    }
                }
            }
            .dscrptn{
                width: 28%;
                margin-left: 10px;
                h5{
                    font-size: 14pt;
                    padding: 15px 5px;
                    border-bottom: 2px #FFCB31 solid;
                }
                p{
                    font-size: 11pt;
                    text-align: justify;
                    margin-top: 30px;
                }
            }
        }
    }
}

.SolutionsPg{
    display: flex;
    flex-direction: column;
    align-items: center;
    .popup{
        position: fixed;
        width: 1100px;
        z-index: 10;
        height: 650px;
        padding: 0px;
        background: #eff0f5;
        border-radius: 10px;
        top: calc((100vh - 650px)/2);
        left: calc((100vw - 1100px)/2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .x{
            background: #fff;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-align: center;
            align-self: flex-start;
            cursor: pointer;
            margin: 25px;
        }
        .parts{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            .left,.right{
                flex: 2;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    z-index: 8;
                    width: 45%;
                }

                .circle{
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    border-radius: 50%;
                    background: #D8DDEA;
                    z-index: 7 !important;
                }


            }
            .center{
                flex: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                .circle{
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    background: #fff;
                    border-radius: 50%;
                    z-index: 7 !important;
                }
                img{
                    z-index: 8;
                }
                h5{
                    z-index: 8;
                    font-size: 14pt;
                }
                .leftleft{
                    position: absolute;
                    top: 49%;
                    left: 0%;
                    cursor: pointer;
                }
                .rightright{
                    position: absolute;
                    top: 49%;
                    right: 0%;
                    cursor: pointer;
                }
            }

        }
        .parg{
            display: flex;
            flex-direction: row-reverse;
            width: 90%;
            align-items: center;
            justify-content: space-around;
            img{
                width: 25%;
            }
            >div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 55%;
                h5{
                    background: $colorYellow;
                    font-size: 13pt;
                    color: $colorBlackDeep;
                    width: auto;
                    padding: 3px 8px;
                    border-radius: 4px;
                    margin: 10px 0px;
                }
            }
            p{
                width: 100%;
                text-align: justify;
            }
        }
        .pavaragh{
            margin-top: 10px;
            height: 100px;
            background: #D9DCE3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;

        }
    }
    section{
        width: auto;
        margin: 0px 200px;
        .title{
            width: 100%;
            background: #EFF0F5F7;
            text-align: center;
            padding: 20px 0px;
        }
        .bx-cntnr{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin-top: 150px;
            .bx{
                width: 300px;
                height: 300px;
                position: relative;
                margin: 80px 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                .line{
                    position: absolute;
                    width: 75%;
                    z-index: 1;
                    top: 5%;
                    left: 5%;
                }
                .circle{
                    position: absolute;
                    width: 85%;
                    z-index: 2;
                    background: #EFF1F6;
                    height: 85%;
                    border-radius: 50%;
                    top: 0%;
                    left: 0%;
                }
                .icons{
                    width: 55%;
                    height: 55%;
                    position: absolute;
                    z-index: 3;
                    left: 15%;
                    transition: 0.5s;
                }
                .txtPer{
                    text-align: center;
                    z-index: 4;
                    position: absolute;
                    bottom: 100px;
                    font-size: 18pt;

                }
                .txtEng{
                    text-align: center;
                    z-index: 4;
                    position: absolute;
                    bottom:70px;
                    font-size: 18pt;

                }
                &:hover{
                    .icons{
                        transform: scale(1.08);
                    }
                }
            }
        }
    }
}




footer{
    height: 120px;
    width: 100%;
    background: $colorBlackDeep;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 0px;
    border-top: 20px $colorYellow solid;


    .infCrd{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80px;
        border-right: 1px #EFF1F6 solid;
        margin: 0px 25px;
        padding: 0px 25px;

        &:last-child{
            border: 0px;
        }

        .imgCnt{
            width: 60px;
            height: 60px;
            background: #FFFFFF6E;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px;
            img{
                width: 45%;
            }
        }

        .txtcnt{
            p{
                color: #FFFFFF;
            }
        }

    }
}


.MachineryPg{
    display: flex;
    flex-direction: column;
    align-items: center;
    .hd{
        background: #C0C7DD !important;
        width: 100% !important;
        align-items: flex-start;
        img{
            height: 100%;
        }
        .conteiner{
            display: flex;
            flex-direction: column;
            right: 20% !important;
            top: 15%;
            p{
                text-align: right;
            }
        }
    }
    section{
        width: 1100px;
        margin-bottom: 50px;

        .title{
            width: 100%;
            background: #EFF0F5F7;
            text-align: center;
            padding: 20px 0px;
        }
        .brands{
            margin: 70px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .brd{
                height: 100px;
                margin: 0px 20px;
            }
            .flag{
                display: flex;
                flex-direction: column;
                margin: 0px 20px;
                img{
                    height: 45px;
                    margin: 5px 0px;
                }
            }
            >p{
                margin: 0px 20px;
            }
        }

    }
    .dropbox{
        width: 100%;
        margin: 5px 0px;
        .btn{
            background: $colorYellow2;
            display: flex;
            flex-direction: row;
            padding: 20px;
            cursor: pointer;
            >p{
                color: #000;
                font-family: 'black';
                margin: 0px 10px;
            }
            img{
                transform: 1s;
            }
        }
    }
    .dropboxOpen{
        .btn{
            img{
                animation: rotate180 1s 0s forwards alternate;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
        @keyframes rotate180 {
            to{
                transform: rotate(180deg);
            }
            
        }
    }
    .dropboxClose{
        .btn{
            img{
                animation: rotate0 1s 0s forwards alternate;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
        @keyframes rotate0 {
            to{
                transform: rotate(0deg);
            }
            
        }
    }

    .cards{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        >:nth-last-child(2){
            border-bottom: 0px !important;
        }
        >:last-child{
            border-bottom: 0px !important;
        }
        .card{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
            width: 100%;
            border-bottom: 1px #000000 solid;
            .img-cntinr{
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                :nth-child(1){
                    width: 50%;
                }
                :nth-child(2){
                    width: 100%;
                    margin-top: -35px;
                }
                
            }
            .dtil{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                width: 15%;
                span{
                    text-align: center;
                    font-family: 'black';
                    font-size: 14pt;

                }
            }
            .parg{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                h3{
                    width: 100%;
                }
                >:nth-child(2){
                    padding-bottom: 20px;
                    border-bottom: 2px $colorYellow solid;
                }
                >:nth-child(3){
                    text-align: left;
                }
                ul{
                    width: 100%;
                    margin-top: 20px;
                    li{
                        text-align: left;
                        list-style-type: none;
                        &::after{
                            content: '-';
                            margin: 0px 10px;
                        }
                    }
                }
            }

        }
        .att-card2{
            width: 80%;

        }
        .card2{
            border-bottom: 0px;
            .img-cntinr{
                img{
                    width: 100% !important; 
                }
            }
            .parg2{
                width: 50%;
                h3{
                    font-family: 'bold';
                    font-size: 14pt;
                    text-align: left;
                }
                p{
                    text-align: justify;
                    direction: ltr;
                }
            }

        }
        .download{
            width: 100%;
            height: 100px;
            a{
                width: 300px;
                padding: 10px 0px;
                background: $colorBlackDeep;
                border-radius: 3px;
                color: $colorWithe1;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-around;
                margin: 25px 5px;
                text-decoration: none;

                span{
                    color: $colorYellow;
                    font-size: 15pt;
                }
    
            }
        }

    }
    .close{
        height: 0px;
        visibility: hidden;
        margin-top: 0px;
    }
    .videoContnr{
        background: $colorLight2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            background: $colorYellow;
            color: $colorBlackDeep;
            font-size: 14pt;
            text-align: center;
            padding: 5px 10px;
            border-radius: 3px;
            margin-top: -15px;
        }

        .PopPlay{
            position: fixed;
            inset: 0px;
            .closer{
                width: 100%;
                height: 100%;
                background: transparent;
            }
            .videoPlayer{
                position: absolute;
                width: 800px;
                height: 600px;
                top: calc((100% - 600px)/2);
                left: calc((100% - 800px)/2);
                background: $colorBlack0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                overflow: hidden;
                border: 4px $colorBlack0 solid;
                video{
                    width: 100%;

                }
            }
            
        }
        .videos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 20px;
            align-items: center;
            justify-content: space-around;
            .video{
                width: 200px;
                height: 200px;
                display: flex;
                flex-direction: column;
                background: $colorWithe2;
                margin: 20px;
                overflow: hidden;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
                h6{
                    background: $colorBlack1;
                    color: $colorWithe1;
                    text-align: center;
                    font-size: 15pt;
                }
                span{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 45pt;
                    color: $colorBlack1;
                    margin: auto 0px;
                }
            }
        }
    }
}





@media screen and (max-width: 1250px) {
    .hd{
        height: 200px;
        .conteiner{
            p{
                font-size: 25px !important;
            }
            img{
                width: 35px;
            }
        }
    }
    footer{
        .infCrd{
            margin: 0px 10px !important;
            .imgCnt{
                margin: 15px !important;
            }
        }
    }
    header{
        nav{
            a,button{
                width: 100px;
                font-size: 13pt;
            }
        }
        >a{
            img{
                width: 180px;
            }
        }
    }
    .PgImgGrdnt{
        section{
            .contentTwoCulomn{
                img{
                    width: 25%;
                }
                
            }
        }
    }
    .Product{
        section{
            justify-content: space-around;
            width: auto;
            .Card{
                width: 300px;
                height: 350px;
                .cntxt{
                    h3{
                        font-size: 12pt;
                    }
                }
            }
        }
    }
    .contact_us{
        section{
            .formCntinr{
                justify-content: space-around;
                form{
                    width: 45%;
                }
            }
        }
    }
    .MachineryPg{
        section{
            width: 95%;
        }
    }
    .services{
        section{
            width: 95%;
            justify-content: space-around;
        }
    }
    .SolutionsPg{
        margin: 0px 100px;
        section{
            width: 95%;
            justify-content: space-around;
        }
    }
    .popup{
        width: 90% !important;
        left: calc(5% - 20px) !important;
        padding: 20px !important;
    }
    .ProductsPg{
        section{
            .Cd-prd{
                flex-direction: column;
                .img-cntinr{
                    width: 40%;
                    margin: 20px;
                }
                .tb-cntinr{
                    width: 90%;
                    h6{
                        display: none;
                    }
                }
                .dscrptn{
                    width: 90%;
                }
            }
        }
    }
}



@media screen and (max-width: 850px) {

    header{
        .higmenu{
            height: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .opn-mn{
                display: flex;
                flex-direction: row;
                padding: 0px 10px;
                background: $colorYellow;
                align-items: center;
                justify-content: center;
                p{
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 22pt;
                    color: $colorBlackDeep;
                    cursor: pointer;
                }
            }
            .btns-col{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 85px;
                right: 10px;
                background: $colorYellow;
                width: 150px;
                button, a{
                    height: 35px;
                    border-bottom: 1px $colorBlackDeep solid;
                    width: 100%;
                    color: $colorBlackDeep;
                    font-size: 12pt;
                    cursor: pointer;
                }
                >:last-child{
                    border: 0px;
                }


            }
        }

        .widemenu{
            display: none;
        }

    }
    .video{
        position: relative;
    }
    .SolutionsPg{
        margin: 0px 20px;

    }
    .PgImgGrdnt{
        >img{
            display: none;
        }
        section{
            .contentTwoCulomn{
                flex-direction: column-reverse;
                >img{
                    width: 100%;
                    border-radius: 15px;
                }
                .contentConteiner{
                    margin: 0px;
                    border-radius: 15px;
                    background: transparent;
                    >div{
                        flex-direction: column;
                    }
                }
            }
        }

    }
    .hd{
        height: 100px !important;
        .conteiner{
            left: 2% !important;
            top: 10% !important;
            img{
                width: 35px !important;
            }
            p{
                font-size: 13pt !important;
            }
        }
    }
    footer{
        height: auto !important;
        flex-direction: column !important;
        align-items: center !important;
        .infCrd{
            border: 0px !important;
            width: 65% !important;
            justify-content: space-between !important;
            margin: 10px 0px !important;
        }
    }
    .services{
        section{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 70%;
            }
            .cntxt{
                width: 70%;
                .prg{
                    flex-direction: column;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .popup{
        .parts{
            .center{
                .circle{
                    width: 90px !important;
                    height: 90px !important;
                }
                img{
                    width: 100px;
                }
                h5{
                    font-size: 8pt !important;
                }
                .rightright ,.leftleft{
                    width: 25px !important;
                }
            }
            .left, .right{
                .circle{
                    width: 90px !important;
                    height: 90px !important;
                }
            }
        }
    }
    .MachineryPg{
        section{
            .brands{
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }
            .dropbox{
                .cards{
                    .card{
                        flex-direction: column;
                        .img-cntinr{
                            width: 90%;
                        }
                        .dtil{
                            width: 90%;
                            align-items: center;
                            margin: 10px 0px;
                        }
                        .parg{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
    .contact_us{
        section{
            width: 90%;
            .formCntinr{
                flex-direction: column-reverse;
                width: 90% !important;
                .imgCntinr{
                    width: 90%;
                    margin: 10px auto;
                }
                form{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
}
