@font-face {
  font-family: "Black";
  src: url("../public/static/IBMPlexArabic-Bold.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../public/static/IBMPlexArabic-SemiBold.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("../public/static/IBMPlexArabic-Medium.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("../public/static/IBMPlexArabic-Regular.ttf");
}
@font-face {
  font-family: "Thin";
  src: url("../public/static/IBMPlexArabic-Thin.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: "Regular";
}

html, body, #__next {
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  background: #222220;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}
header .conteinerNav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header .conteinerNav .infs {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
}
header .conteinerNav .infs p {
  color: #A09D9D;
  margin: 0px 40px;
}
header .conteinerNav .btns {
  display: flex;
  flex-direction: row;
  flex: 5;
}
header img {
  width: 250px;
}
header .opn-mn {
  display: none;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
header nav .cls-mn {
  display: none;
}
header nav button, header nav a {
  height: 100%;
  width: 135px;
  color: #FEFEFE;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  border: 0px;
}
header nav button:hover, header nav a:hover {
  background: #FFC132;
  color: #222220;
}

main {
  padding-top: 120px;
}

.PgImgGrdnt {
  height: 100%;
  position: relative;
  padding: 240px 0px;
}
.PgImgGrdnt > section {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(94, 103, 131, 0.7) 8.68%, rgba(255, 255, 255, 0.27) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.PgImgGrdnt > section .contentTwoCulomn {
  display: flex;
  flex-direction: row;
  width: 70%;
  z-index: 3;
  border-radius: 15px;
  overflow: hidden;
}
.PgImgGrdnt > section .contentTwoCulomn .contentConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5019607843);
  margin-left: 20px;
}
.PgImgGrdnt > section .contentTwoCulomn .contentConteiner > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.PgImgGrdnt > section .contentTwoCulomn .contentConteiner > div p {
  margin-left: 100px;
  direction: rtl;
  text-align: justify;
}
.PgImgGrdnt > section .contentTwoCulomn .contentConteiner > div img {
  margin: 10px 20px;
}
.PgImgGrdnt > section .exportContent {
  z-index: 3;
  width: 70%;
  margin-top: 50px;
}
.PgImgGrdnt > section .exportContent p {
  color: #FEFEFE;
  text-align: center;
  direction: ltr;
  width: 100%;
  font-size: 16pt;
  text-align: center;
  word-spacing: 6px;
}
.PgImgGrdnt > section .exportContent :nth-child(2) {
  color: #FEFEFE;
  font-size: 14pt;
}
.PgImgGrdnt > section .exportContent img {
  background: rgba(255, 255, 255, 0.5019607843);
  width: 100%;
}
.PgImgGrdnt > img {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.hd {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.hd > img {
  width: 100%;
}
.hd .conteiner {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: calc((100% - 65px) / 2);
  left: 200px;
}
.hd .conteiner img {
  width: 65px;
  height: auto;
}
.hd .conteiner p {
  color: #FEFEFE;
  font-size: 35pt;
  margin-left: 25px;
  direction: ltr;
}
.hd .conteiner p:nth-child(1) {
  color: #FFC132;
}
.hd .conteiner .bl1 {
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 800;
}
.hd .conteiner .bl2 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.hd .conteiner .bl3 {
  font-weight: 800;
  color: #FFFFFF !important;
}
.hd .conteiner .bl4 {
  color: #FFFFFF !important;
}
.hd .conteiner .bl5 {
  color: #48546C !important;
  font-weight: 800;
}
.hd .conteiner .bl6 {
  color: #DDE0EB !important;
}

.Product {
  background: #DDE0EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Product .hd .conteiner {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: calc((100% - 65px) / 2);
  left: 200px;
}
.Product .hd .conteiner p {
  color: #FEFEFE;
  font-size: 35pt;
  margin-left: 25px;
  direction: ltr;
}
.Product section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: 25px;
}
.Product section .Card {
  width: 450px;
  height: 250px;
  border-radius: 10px;
  border: 1px #fff solid;
  background: rgba(255, 255, 255, 0.2509803922);
  display: flex;
  flex-direction: row-reverse;
  margin: 25px;
  padding: 20px;
}
.Product section .Card .ImgCntnr {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Product section .Card .ImgCntnr img {
  width: 100%;
}
.Product section .Card .cntxt {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Product section .Card .cntxt h3 {
  font-size: 13pt;
}
.Product section .Card .cntxt p {
  font-size: 11pt;
  line-height: 1.5;
  text-align: justify;
  margin-left: 20px;
}
.Product section .Card .cntxt a {
  background: #81A5C7;
  color: #FEFEFE;
  border-radius: 4px;
  width: 150px;
  text-align: center;
  height: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.contact_us .hd {
  position: relative;
  height: 380px;
}
.contact_us .hd .map {
  width: 100%;
  margin: 100px 0px;
}
.contact_us .hd .conteiner {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: calc((100% - 65px) / 2);
  left: 200px;
}
.contact_us .hd .conteiner p {
  color: #FEFEFE;
  font-size: 35pt;
  margin-left: 25px;
  direction: ltr;
}
.contact_us .hd .conteiner p:nth-child(1) {
  color: #FFC132;
}
.contact_us section {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 25px;
}
.contact_us section .formCntinr {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  justify-content: space-between;
}
.contact_us section .formCntinr .imgCntinr {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact_us section .formCntinr .imgCntinr img {
  width: 50%;
}
.contact_us section .formCntinr .imgCntinr p {
  text-align: justify;
  line-height: 1.2;
  width: 80%;
}
.contact_us section .formCntinr form {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #D6DBE8;
}
.contact_us section .formCntinr form input {
  width: 220px;
  height: 50px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}
.contact_us section .formCntinr form textarea {
  width: 100%;
  height: 158px;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}
.contact_us section .formCntinr form input, .contact_us section .formCntinr form textarea {
  margin: 10px 0px;
}
.contact_us section .formCntinr form button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: rgba(34, 200, 190, 0.6980392157);
  border: 0px;
  color: #FEFEFE;
}
.contact_us section > img {
  margin: 100px 0px 0px 0px;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: 10px;
  z-index: 2;
}
.contact_us footer {
  height: 300px;
  width: 100%;
  background: #222220;
  margin-top: -130px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
}
.contact_us footer .infCrd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-right: 1px #EFF1F6 solid;
  margin: 0px 25px;
  padding: 0px 25px;
  cursor: pointer;
}
.contact_us footer .infCrd:last-child {
  border: 0px;
}
.contact_us footer .infCrd .imgCnt {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.431372549);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.contact_us footer .infCrd .imgCnt img {
  width: 45%;
}
.phoneConteiner {
  display: flex;
  flex-direction: row-reverse;
}
.phoneConteiner :nth-child(1)::before {
  content: "-";
  margin: 0px 5px;
}
.phoneConteiner p {
  color: #FFFFFF;
  direction: rtl;
  margin: 0px 5px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.services .hd .conteiner p {
  background: rgba(255, 211, 100, 0.6980392157) !important;
  color: #000000 !important;
  padding: 0px 55px;
  font-size: 30pt;
}
.services section {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  z-index: 2;
  margin-bottom: 100px;
}
.services section .iconic {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.services section .iconic > img {
  width: 100px;
}
.services section .iconic p {
  color: #FFC132;
  font-size: 18pt;
}
.services section .cntxt {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.services section .cntxt > img {
  width: 22%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.services section .cntxt .prg {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}
.services section .cntxt .prg p {
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 25px;
}
.services section .cntxt .imgcntr {
  display: flex;
  flex-direction: column;
  width: 22%;
}
.services section .panevisa {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
}
.services section .panevisa p {
  font-size: 16pt;
  color: #222220;
  margin: 10px;
}
.services section .panevisa :nth-child(1) {
  color: #FFC132;
}

.video {
  width: 100%;
}
.video video {
  width: 100%;
}
.video img {
  position: absolute;
  width: 30%;
  top: 48%;
  left: 35%;
  z-index: 2;
}

.minicms {
  background: #48546C;
}
.minicms .hd {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.minicms .hd .conteiner {
  width: 100%;
  position: static;
}
.minicms .hd .conteiner p {
  width: 100%;
  text-align: center;
  font-size: 16pt;
}
.minicms .continertContentCms {
  height: 400px;
  background: rgba(255, 255, 255, 0.25);
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.minicms .continertContentCms .contentSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.minicms .continertContentCms .contentSide .imgCnt {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.minicms .continertContentCms .contentSide .imgCnt img {
  width: 100%;
  height: 100%;
}
.minicms .continertContentCms .contentSide h4 {
  white-space: pre-wrap;
  text-align: center;
}
.minicms .continertContentCms .contentWide {
  cursor: pointer;
}
.minicms .continertContentCms .contentWide .imgCnt img {
  opacity: 0.6;
}
.minicms .continertContentCms .contentWide h4 {
  color: rgba(255, 255, 255, 0.75);
}
.minicms .continertContentCms .contentCenter {
  position: relative;
}
.minicms .continertContentCms .contentCenter > h4 {
  color: #fff;
}
.minicms .continertContentCms .contentCenter > p {
  text-align: justify;
  font-size: 12pt;
  width: 350px;
  color: #fff;
  margin-top: 15px;
}
.minicms .continertContentCms .contentCenter span {
  color: #fff;
  font-size: 40pt;
  position: absolute;
  cursor: pointer;
}
.minicms .continertContentCms .contentCenter .arrLeft {
  left: 0px;
}
.minicms .continertContentCms .contentCenter .arrRight {
  right: 0px;
}

.ProductsPg {
  display: flex;
  flex-direction: column;
}
.ProductsPg section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.ProductsPg section .Cd-prd {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  padding: 30px;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}
.ProductsPg section .Cd-prd:nth-child(2n-1) {
  background: rgba(239, 241, 246, 0.5019607843);
}
.ProductsPg section .Cd-prd:nth-child(1) .img-cntinr p {
  color: #C3980D;
}
.ProductsPg section .Cd-prd:nth-child(2) .img-cntinr p {
  color: #E75B0C;
}
.ProductsPg section .Cd-prd:nth-child(3) .img-cntinr p {
  color: #DF180E;
}
.ProductsPg section .Cd-prd:nth-child(4) .img-cntinr p {
  color: #1DB949;
}
.ProductsPg section .Cd-prd:nth-child(5) .img-cntinr p {
  color: #15BAC5;
}
.ProductsPg section .Cd-prd .img-cntinr {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 38%;
}
.ProductsPg section .Cd-prd .img-cntinr img {
  width: 85%;
}
.ProductsPg section .Cd-prd .img-cntinr p {
  position: absolute;
  font-size: 20pt;
  right: -10px;
}
.ProductsPg section .Cd-prd .img-cntinr p:nth-of-type(1) {
  top: 10px;
}
.ProductsPg section .Cd-prd .img-cntinr p:nth-of-type(2) {
  top: 40px;
}
.ProductsPg section .Cd-prd .tb-cntinr {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.ProductsPg section .Cd-prd .tb-cntinr h5 {
  font-size: 16pt;
  color: #222220;
  text-align: center;
  margin: 10px 0px;
}
.ProductsPg section .Cd-prd .tb-cntinr h6 {
  color: #6B757D;
  text-align: center;
  font-size: 12pt;
  margin-bottom: 20px;
}
.ProductsPg section .Cd-prd .tb-cntinr table {
  direction: ltr;
}
.ProductsPg section .Cd-prd .tb-cntinr table td {
  margin: -1px 1px;
  border: 1px #D3DADE solid;
  text-align: center;
  padding: 0px 3px;
  font-size: 11pt;
}
.ProductsPg section .Cd-prd .tb-cntinr table tbody td {
  background: #D9E0E4;
}
.ProductsPg section .Cd-prd .dscrptn {
  width: 28%;
  margin-left: 10px;
}
.ProductsPg section .Cd-prd .dscrptn h5 {
  font-size: 14pt;
  padding: 15px 5px;
  border-bottom: 2px #FFCB31 solid;
}
.ProductsPg section .Cd-prd .dscrptn p {
  font-size: 11pt;
  text-align: justify;
  margin-top: 30px;
}

.SolutionsPg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SolutionsPg .popup {
  position: fixed;
  width: 1100px;
  z-index: 10;
  height: 650px;
  padding: 0px;
  background: #eff0f5;
  border-radius: 10px;
  top: calc((100vh - 650px) / 2);
  left: calc((100vw - 1100px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.SolutionsPg .popup .x {
  background: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: flex-start;
  cursor: pointer;
  margin: 25px;
}
.SolutionsPg .popup .parts {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.SolutionsPg .popup .parts .left, .SolutionsPg .popup .parts .right {
  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SolutionsPg .popup .parts .left img, .SolutionsPg .popup .parts .right img {
  z-index: 8;
  width: 45%;
}
.SolutionsPg .popup .parts .left .circle, .SolutionsPg .popup .parts .right .circle {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  background: #D8DDEA;
  z-index: 7 !important;
}
.SolutionsPg .popup .parts .center {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.SolutionsPg .popup .parts .center .circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  z-index: 7 !important;
}
.SolutionsPg .popup .parts .center img {
  z-index: 8;
}
.SolutionsPg .popup .parts .center h5 {
  z-index: 8;
  font-size: 14pt;
}
.SolutionsPg .popup .parts .center .leftleft {
  position: absolute;
  top: 49%;
  left: 0%;
  cursor: pointer;
}
.SolutionsPg .popup .parts .center .rightright {
  position: absolute;
  top: 49%;
  right: 0%;
  cursor: pointer;
}
.SolutionsPg .popup .parg {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}
.SolutionsPg .popup .parg img {
  width: 25%;
}
.SolutionsPg .popup .parg > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}
.SolutionsPg .popup .parg > div h5 {
  background: #FFC132;
  font-size: 13pt;
  color: #222220;
  width: auto;
  padding: 3px 8px;
  border-radius: 4px;
  margin: 10px 0px;
}
.SolutionsPg .popup .parg p {
  width: 100%;
  text-align: justify;
}
.SolutionsPg .popup .pavaragh {
  margin-top: 10px;
  height: 100px;
  background: #D9DCE3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.SolutionsPg section {
  width: auto;
  margin: 0px 200px;
}
.SolutionsPg section .title {
  width: 100%;
  background: rgba(239, 240, 245, 0.968627451);
  text-align: center;
  padding: 20px 0px;
}
.SolutionsPg section .bx-cntnr {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
.SolutionsPg section .bx-cntnr .bx {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.SolutionsPg section .bx-cntnr .bx .line {
  position: absolute;
  width: 75%;
  z-index: 1;
  top: 5%;
  left: 5%;
}
.SolutionsPg section .bx-cntnr .bx .circle {
  position: absolute;
  width: 85%;
  z-index: 2;
  background: #EFF1F6;
  height: 85%;
  border-radius: 50%;
  top: 0%;
  left: 0%;
}
.SolutionsPg section .bx-cntnr .bx .icons {
  width: 55%;
  height: 55%;
  position: absolute;
  z-index: 3;
  left: 15%;
  transition: 0.5s;
}
.SolutionsPg section .bx-cntnr .bx .txtPer {
  text-align: center;
  z-index: 4;
  position: absolute;
  bottom: 100px;
  font-size: 18pt;
}
.SolutionsPg section .bx-cntnr .bx .txtEng {
  text-align: center;
  z-index: 4;
  position: absolute;
  bottom: 70px;
  font-size: 18pt;
}
.SolutionsPg section .bx-cntnr .bx:hover .icons {
  transform: scale(1.08);
}

footer {
  height: 120px;
  width: 100%;
  background: #222220;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 50px 0px;
  border-top: 20px #FFC132 solid;
}
footer .infCrd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-right: 1px #EFF1F6 solid;
  margin: 0px 25px;
  padding: 0px 25px;
}
footer .infCrd:last-child {
  border: 0px;
}
footer .infCrd .imgCnt {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.431372549);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
footer .infCrd .imgCnt img {
  width: 45%;
}
footer .infCrd .txtcnt p {
  color: #FFFFFF;
}

.MachineryPg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MachineryPg .hd {
  background: #C0C7DD !important;
  width: 100% !important;
  align-items: flex-start;
}
.MachineryPg .hd img {
  height: 100%;
}
.MachineryPg .hd .conteiner {
  display: flex;
  flex-direction: column;
  right: 20% !important;
  top: 15%;
}
.MachineryPg .hd .conteiner p {
  text-align: right;
}
.MachineryPg section {
  width: 1100px;
  margin-bottom: 50px;
}
.MachineryPg section .title {
  width: 100%;
  background: rgba(239, 240, 245, 0.968627451);
  text-align: center;
  padding: 20px 0px;
}
.MachineryPg section .brands {
  margin: 70px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MachineryPg section .brands .brd {
  height: 100px;
  margin: 0px 20px;
}
.MachineryPg section .brands .flag {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
.MachineryPg section .brands .flag img {
  height: 45px;
  margin: 5px 0px;
}
.MachineryPg section .brands > p {
  margin: 0px 20px;
}
.MachineryPg .dropbox {
  width: 100%;
  margin: 5px 0px;
}
.MachineryPg .dropbox .btn {
  background: #FFD864;
  display: flex;
  flex-direction: row;
  padding: 20px;
  cursor: pointer;
}
.MachineryPg .dropbox .btn > p {
  color: #000;
  font-family: "black";
  margin: 0px 10px;
}
.MachineryPg .dropbox .btn img {
  transform: 1s;
}
.MachineryPg .dropboxOpen .btn img {
  animation: rotate180 1s 0s forwards alternate;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes rotate180 {
  to {
    transform: rotate(180deg);
  }
}
.MachineryPg .dropboxClose .btn img {
  animation: rotate0 1s 0s forwards alternate;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes rotate0 {
  to {
    transform: rotate(0deg);
  }
}
.MachineryPg .cards {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.MachineryPg .cards > :nth-last-child(2) {
  border-bottom: 0px !important;
}
.MachineryPg .cards > :last-child {
  border-bottom: 0px !important;
}
.MachineryPg .cards .card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  border-bottom: 1px #000000 solid;
}
.MachineryPg .cards .card .img-cntinr {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.MachineryPg .cards .card .img-cntinr :nth-child(1) {
  width: 50%;
}
.MachineryPg .cards .card .img-cntinr :nth-child(2) {
  width: 100%;
  margin-top: -35px;
}
.MachineryPg .cards .card .dtil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 15%;
}
.MachineryPg .cards .card .dtil span {
  text-align: center;
  font-family: "black";
  font-size: 14pt;
}
.MachineryPg .cards .card .parg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.MachineryPg .cards .card .parg h3 {
  width: 100%;
}
.MachineryPg .cards .card .parg > :nth-child(2) {
  padding-bottom: 20px;
  border-bottom: 2px #FFC132 solid;
}
.MachineryPg .cards .card .parg > :nth-child(3) {
  text-align: left;
}
.MachineryPg .cards .card .parg ul {
  width: 100%;
  margin-top: 20px;
}
.MachineryPg .cards .card .parg ul li {
  text-align: left;
  list-style-type: none;
}
.MachineryPg .cards .card .parg ul li::after {
  content: "-";
  margin: 0px 10px;
}
.MachineryPg .cards .att-card2 {
  width: 80%;
}
.MachineryPg .cards .card2 {
  border-bottom: 0px;
}
.MachineryPg .cards .card2 .img-cntinr img {
  width: 100% !important;
}
.MachineryPg .cards .card2 .parg2 {
  width: 50%;
}
.MachineryPg .cards .card2 .parg2 h3 {
  font-family: "bold";
  font-size: 14pt;
  text-align: left;
}
.MachineryPg .cards .card2 .parg2 p {
  text-align: justify;
  direction: ltr;
}
.MachineryPg .cards .download {
  width: 100%;
  height: 100px;
}
.MachineryPg .cards .download a {
  width: 300px;
  padding: 10px 0px;
  background: #222220;
  border-radius: 3px;
  color: #FEFEFE;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 25px 5px;
  text-decoration: none;
}
.MachineryPg .cards .download a span {
  color: #FFC132;
  font-size: 15pt;
}
.MachineryPg .close {
  height: 0px;
  visibility: hidden;
  margin-top: 0px;
}
.MachineryPg .videoContnr {
  background: #A09D9D;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MachineryPg .videoContnr h2 {
  background: #FFC132;
  color: #222220;
  font-size: 14pt;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: -15px;
}
.MachineryPg .videoContnr .PopPlay {
  position: fixed;
  inset: 0px;
}
.MachineryPg .videoContnr .PopPlay .closer {
  width: 100%;
  height: 100%;
  background: transparent;
}
.MachineryPg .videoContnr .PopPlay .videoPlayer {
  position: absolute;
  width: 800px;
  height: 600px;
  top: calc((100% - 600px) / 2);
  left: calc((100% - 800px) / 2);
  background: #2A3040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  border: 4px #2A3040 solid;
}
.MachineryPg .videoContnr .PopPlay .videoPlayer video {
  width: 100%;
}
.MachineryPg .videoContnr .videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
}
.MachineryPg .videoContnr .videos .video {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5019607843);
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.MachineryPg .videoContnr .videos .video:hover {
  transform: scale(1.1);
}
.MachineryPg .videoContnr .videos .video h6 {
  background: rgba(42, 48, 64, 0.4);
  color: #FEFEFE;
  text-align: center;
  font-size: 15pt;
}
.MachineryPg .videoContnr .videos .video span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45pt;
  color: rgba(42, 48, 64, 0.4);
  margin: auto 0px;
}

@media screen and (max-width: 1250px) {
  .hd {
    height: 200px;
  }
  .hd .conteiner p {
    font-size: 25px !important;
  }
  .hd .conteiner img {
    width: 35px;
  }
  footer .infCrd {
    margin: 0px 10px !important;
  }
  footer .infCrd .imgCnt {
    margin: 15px !important;
  }
  header nav a, header nav button {
    width: 100px;
    font-size: 13pt;
  }
  header > a img {
    width: 180px;
  }
  .Product section {
    justify-content: space-around;
    width: auto;
  }
  .Product section .Card {
    width: 300px;
    height: 350px;
  }
  .Product section .Card .cntxt h3 {
    font-size: 12pt;
  }
  .contact_us section .formCntinr {
    justify-content: space-around;
  }
  .contact_us section .formCntinr form {
    width: 45%;
  }
  .MachineryPg section {
    width: 95%;
  }
  .services section {
    width: 95%;
    justify-content: space-around;
  }
  .SolutionsPg {
    margin: 0px 100px;
  }
  .SolutionsPg section {
    width: 95%;
    justify-content: space-around;
  }
  .popup {
    width: 90% !important;
    left: calc(5% - 20px) !important;
    padding: 20px !important;
  }
  .ProductsPg section .Cd-prd {
    flex-direction: column;
  }
  .ProductsPg section .Cd-prd .img-cntinr {
    width: 40%;
    margin: 20px;
  }
  .ProductsPg section .Cd-prd .tb-cntinr {
    width: 90%;
  }
  .ProductsPg section .Cd-prd .tb-cntinr h6 {
    display: none;
  }
  .ProductsPg section .Cd-prd .dscrptn {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .headerScrolled .opn-mn p {
    color: rgba(42, 48, 64, 0.4) !important;
  }
  header .opn-mn {
    display: flex;
    flex-direction: row;
    width: 50px;
  }
  header .opn-mn p {
    font-size: 22pt;
    color: #FEFEFE;
    cursor: pointer;
  }
  header .widemenu {
    transition: 1s;
    flex-direction: column;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #48546C;
    width: 220px;
  }
  header .widemenu .cls-mn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  header .widemenu .cls-mn p {
    text-align: left;
    margin: 20px;
    cursor: pointer;
    color: #FEFEFE;
    font-size: 22pt;
  }
  header .widemenu a, header .widemenu button {
    z-index: 25;
    height: 50px;
    color: #FEFEFE !important;
    width: 100%;
  }
  header .show {
    width: 0px;
  }
  header .show div, header .show a, header .show button {
    opacity: 0;
  }
  .video {
    position: relative;
  }
  .SolutionsPg {
    margin: 0px 20px;
  }
  .PgImgGrdnt section .contentTwoCulomn {
    flex-direction: column-reverse;
  }
  .PgImgGrdnt section .contentTwoCulomn .contentConteiner {
    margin: 0px;
  }
  .PgImgGrdnt section .contentTwoCulomn .contentConteiner > div {
    align-items: center;
    margin: 20px;
  }
  .PgImgGrdnt section .contentTwoCulomn .contentConteiner > div p {
    text-align: justify;
  }
  .PgImgGrdnt section .exportContent {
    margin-top: 10px;
  }
  .hd {
    height: 100px !important;
  }
  .hd .conteiner {
    left: 2% !important;
    top: 10% !important;
  }
  .hd .conteiner img {
    width: 35px !important;
  }
  .hd .conteiner p {
    font-size: 13pt !important;
  }
  footer {
    height: auto !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  footer .infCrd {
    border: 0px !important;
    width: 65% !important;
    justify-content: space-between !important;
    margin: 10px 0px !important;
  }
  .services section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services section img {
    width: 70%;
  }
  .services section .cntxt {
    width: 70%;
  }
  .services section .cntxt .prg {
    flex-direction: column;
  }
  .services section .cntxt .prg img {
    width: 100%;
  }
  .popup .parts .center .circle {
    width: 90px !important;
    height: 90px !important;
  }
  .popup .parts .center img {
    width: 100px;
  }
  .popup .parts .center h5 {
    font-size: 8pt !important;
  }
  .popup .parts .center .rightright, .popup .parts .center .leftleft {
    width: 25px !important;
  }
  .popup .parts .left .circle, .popup .parts .right .circle {
    width: 90px !important;
    height: 90px !important;
  }
  .MachineryPg section .brands {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .MachineryPg section .dropbox .cards .card {
    flex-direction: column;
  }
  .MachineryPg section .dropbox .cards .card .img-cntinr {
    width: 90%;
  }
  .MachineryPg section .dropbox .cards .card .dtil {
    width: 90%;
    align-items: center;
    margin: 10px 0px;
  }
  .MachineryPg section .dropbox .cards .card .parg {
    width: 90%;
  }
  .contact_us section {
    width: 90%;
  }
  .contact_us section .formCntinr {
    flex-direction: column-reverse;
    width: 90% !important;
  }
  .contact_us section .formCntinr .imgCntinr {
    width: 90%;
    margin: 10px auto;
  }
  .contact_us section .formCntinr form {
    width: 100%;
  }
  .contact_us section .formCntinr form input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */